<style>
  #devise_edit_form{
    background: #fff;
    height: 100vh;
  }
</style>

<div id="devise_edit_form" class="ui middle aligned centered grid">
  <div class="six wide computer only  fourteen wide mobile only column">
    <h2 class="ui center aligned header">
      <div class="content">
        Edit <%= resource_name.to_s.humanize %>
      </div>
    </h2>
    <div class="ui fluid card">
      <div class="content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:'ui form'}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %>
            <div class="ui left icon input">
              <i class="icon envelope"></i>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <% if logged_in?(:admin)  %>
            <div class="field">
              <%= f.label :roles %>
              <%= f.select :roles, resource.available_roles, {}, {multiple: true}%>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :address %>
            <div class="ui left icon input">
              <i class="icon home"></i>
              <%= f.text_field :address, autofocus: true, autocomplete: "email" %>
            </div>
          </div>


          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <div class="ui left icon input">
              <i class="icon lock"></i>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <div class="ui left icon input">
              <i class="icon lock"></i>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <div class="ui left icon input">
              <i class="icon lock"></i>
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: 'ui  positive button' %>
          </div>
        <% end %>
        <!--<h3>Cancel my account</h3>-->

        <!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

        <%= link_to "Back", :back %>
        <%#= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>







