<style>
    #user_index_page{
      background: #fff;
      margin-top: 50px;
    }
  </style>

  <div id="user_index_page" class="ui centered grid">
    <div class="nine wide computer only fourteen wide mobile only column">
        <div class="content">
          <h2 class="ui center aligned header">
            <div class="content">
              Users
            </div>
          </h2>
          <table class="ui striped table">
            <thead>
            <tr>
              <th>Email</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.address %></td>
                <td>
                  <%= link_to 'Show', user, class: 'ui positive button' %>
                  <%= link_to 'Edit',  user == current_user ? edit_user_registration_path(user) : edit_user_path(user), class: 'ui primary button'  %>
                  <% unless user.admin?%>
                    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },  class: 'ui negative button'  if logged_in?(:admin) %>
                  <%end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>

          <br>
          <%= link_to 'New User', new_user_registration_path, class: "ui primary button"  if logged_in?(:admin)%>
        </div>
      </div>
  </div>