  <h1>Users</h1>
  <table>
    <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit',  user == current_user ? edit_user_registration_path(user) : edit_user_path(user) %></td>
        <% unless user.admin?%>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:admin) %></td>
        <%end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New User', new_user_registration_path  if logged_in?(:admin)%>


