<!DOCTYPE html>
<html>
<head>
  <title>MyProject</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="ui sidebar inverted vertical menu sidebar-menu" id= "sidebar">
  <div class="item">
    <div class="header"><h4>General</h4></div>
    <div class="menu">
      <%= link_to(root_path, class:"item") do %>
        <div>
          <h4><i class="icon tachometer alternate"></i>Dashboard</h4>
        </div>
      <% end%>
    </div>
  </div>
  <div class="item">
    <!--      <div class="header">Administration</div>-->
    <div class="menu">
      <%= link_to(new_user_path, class:" header item") do %>
        <div>
          <h4><i class="plus user icon"></i>New User</h4>
        </div>
      <% end%>

      <%= link_to(current_user, class:"item") do %>
        <div>
          <h4>
            <i class="info circle icon"></i>
            Profile
          </h4>
        </div>
      <% end%>

      <%= link_to(edit_user_path(current_user), class:"item") do %>
        <div>
          <h4>
            <i class="edit icon"></i>
            Edit Profile
          </h4>
        </div>
      <% end%>

      <%= link_to(destroy_user_session_path, class:"item", method: :delete) do %>
        <div>
          <h4>
            <i class="sign-out icon"></i>
            Log Out
          </h4>
        </div>
      <% end%>
    </div>
  </div>
</div>
<nav class="ui top fixed inverted menu">
  <div class="left menu">
    <!--      sidebar-menu-toggler custom class-->
    <a class="sidebar-menu-toggle item" data-target="#sidebar">
      <i class="sidebar icon"></i>
    </a>
    <%= link_to(root_path, class:" header item") do %>
      <h4>
        Admin Panel
      </h4>
    <% end%>
  </div>
  <div class="right menu">
    <%= link_to(root_path, class:" header item") do %>
      <h5 class="center aligned">
        <strong>Hii:</strong> <%= current_user.email%>
      </h5>
    <% end%>

    <%= link_to(root_path, class:" header item") do %>
      <div>
        <h4>
          <i class="home icon"></i>
          Home
        </h4>
      </div>
    <% end%>

    <%= link_to(root_path, class:"item") do %>
      <div>
        <h4><i class="bell icon"></i></h4>
      </div>
    <% end%>
    <div class="ui dropdown item">
      <i class="user circle icon"></i>
      <div class="menu">
        <%= link_to(current_user, class:"item") do %>
          <div>
            <h4>
              <i class="info circle icon"></i>
              Profile
            </h4>
          </div>
        <% end%>

        <%= link_to(destroy_user_session_path, class:"item", method: :delete) do %>
          <div>
            <h4>
              <i class="sign-out icon"></i>
              Log Out
            </h4>
          </div>
        <% end%>
      </div>
    </div>
  </div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield%>
</body>
</html>