<!DOCTYPE html>
<html>
  <head>
    <title>SemanticUi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="ui top fixed inverted menu">
    <div class="left menu">
      <%= link_to(root_path, class:" header item") do %>
        <h3>
          Dummy App
        </h3>
      <% end%>
    </div>

    <div class="right menu">
      <%= link_to(root_path, class:" header item") do %>
        <div>
          <i class="home icon"></i>
          Home
        </div>
      <% end%>

      <%= link_to(user_session_path, class:"item") do %>
        <div>
          <i class="sign-in icon"></i>
          Log In
        </div>
      <% end%>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  </body>
</html>
